<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - wallclone</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />
        <link rel="stylesheet" href="~/css/layout.css" />
    </head>

    <body>

            <header>
                <nav class="top-menu">
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        <h1>wallclone</h1>
                    </a>
                    <ul>
                        <li>
                            <a class="latest" href="~/latest">
                                Más nuevos
                            </a>
                        </li>

                        <li>
                            <a class="top" href="~/top">
                                Top
                            </a>
                        </li>

                        <li>
                            <a class="random" href="~/random">
                                Random
                            </a>
                        </li>

                        <li>
                            <a class="upload" href="~/upload">
                                Subir
                            </a>
                        </li>
                    </ul>
                </nav>
                
                <div id="userpanel">
                    <a class="button register" href="~/register">
                        Registrarse
                    </a>

                    <a class="button" href="~/login">
                        Iniciar sesión
                    </a>
                </div>
            </header>

            <main role="main">
                @RenderBody()
            </main>

            <partial name="_Footer" />

            @RenderSection("Scripts", required: false)

    </body>
</html>
