@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

@model Wallpapers.ViewModels.WallcloneViewModel

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            wallclone
        </title>
        <link rel="stylesheet" href="~/css/landing.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    </head>
    <body>
        <div id="body-container">   
            <header>
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <h1>wallclone</h1>
                </a>
                <small>El <a class="hover-underline" target="_blank" href="https://wallhaven.cc">wallhaven.cc</a> de la salada</small>
            </header>

            <main>
                <div class="top-menu">
                    <a href="latest">
                        <div class="top-menu-item latest">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>

                            <span>
                                Últimos
                            </span>
                        </div>
                    </a>

                    <a href="top">
                        <div class="top-menu-item top">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>

                            <span>
                                Top
                            </span>
                        </div>
                    </a>

                    <a href="random">
                        <div class="top-menu-item random">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>

                            <span>
                                Random
                            </span>
                        </div>
                    </a>

                    <a href="upload">
                        <div class="top-menu-item upload">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>

                            <span>
                                Subir
                            </span>
                        </div>
                    </a>
                </div>

                <div id="popular-tags">
                    @foreach (var tag in Model.Tags) 
                    {
                        <a class="tag" href="tag/@tag.TagId">
                            #@tag.Name
                        </a>
                    }

                    <a href="tags">Más tags...</a>
                </div>

                <div class="popular-row">
                @{
                    var randomPostsToDisplay = Model.PostsWithImages
                        .OrderBy(p => Guid.NewGuid())
                        .Take(15)
                        .ToList();

                    for (int i = 0; i < 4; i++) 
                        {
                            <a href="w/@randomPostsToDisplay[i].PostId">
                                <img class="feat-4" src="~/wallpapers/thumbnail/@randomPostsToDisplay[i].Image.Filename" />
                            </a>
                        }
                }
                </div>

                <div id="welcome-row">
                    <p id="welcome-title">¿Nuevo aquí?</p>
                    <p>
                        <a href="register">¡Crea una nueva cuenta!</a>
                        - o -
                        <a href="login">Inicia sesión</a>
                    </p>
                </div>

                <div class="popular-row">

                    @for (int i = 4; i < 9; i++) 
                    {
                        <a href="w/@randomPostsToDisplay[i].PostId">
                            <img class="feat-5" src="~/wallpapers/thumbnail/@randomPostsToDisplay[i].Image.Filename" />
                        </a>
                    }
                </div>

                <div class="popular-row">
                @for (int i = 9; i < 15; i++)
                {
                    <a href="w/@randomPostsToDisplay[i].PostId">
                        <img class="feat-6" src="~/wallpapers/thumbnail/@randomPostsToDisplay[i].Image.Filename" />
                    </a>
                }
                </div>

                <a href="wallpapers" class="a-listado">> Listado completo de wallpapers <</a>

                <div class="wallclone-stats">
                    <h3>Estadísticas de wallclone</h3>
                    <p>¡wallclone es el hogar de <strong>@Model.Posts.Count()</strong> wallpapers de dudosa procedencia!</p>
                    <p>¡Tenemos <strong>@Model.Users.Count()</strong> usuarios asombrosos! (la mayoría falsos)</p>
                    <p>¿No estás seguro de qué buscar? ¡Estamos seguros de que al menos uno de nuestros <strong>@Model.Tags.Count()</strong> <a href="tags">tags</a> creados por los usuarios te ayudarán a encontrar algo!</p>
                </div>
            </main>

            <partial name="_Footer" />
        </div>
    </body>
</html>